<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool</title>
    <link rel="icon" href="http://realprojectcreator.com/wp-content/uploads/2022/05/00000-Rajmi-logoo.png" type="image/x-icon">
</head>
<body>
    Content 1
    <br>
    <%- body %> 
    <br>
    Content 2
</body>
</html>